<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">申请试用</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__MODULE__/Apply/delete">
                <div class="result-title">
                    <div class="result-list">
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="checkall[]" type="checkbox" id="chkall" onclick='selectcheckbox(this.form)'></th>
                            <th width="10%">姓名</th>
                            <th width="15%">单位</th>
                            <th width="10%">职业</th>
                            <th width="15%">email</th>
                            <th width="15%">电话</th>
                            <th width="20%">用途</th>
                            <th width="12%">操作</th>
                        </tr>
                        <volist name="apply" id="data">
                        <tr>
                            <td><input type="checkbox" name="applyId[]" id="checkbox" value="{$data.id}"><label for="checkbox"></label></td>
                            <td>{$data.name}</td>
                            <td>{$data.unit}</td>
                            <td>{$data.job}</td>
                            <td>{$data.email}</td>
                            <td>{$data.phone}</td>
                            <td>{$data.use|msubstr=0,5,'utf-8',ture}</td>
                            <td>
                                <a class="link-del" href="{:U('Admin/new/destory')}/id/{$data.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div id="alldelete">

                    <button type="submit" id="batchDel" class="btn btn-danger " href="__MODULE__/Apply/delete">批量删除</button> 
                     </div>
                    <div class="list-page">  {$page}</div>
                </div>
            </form>
        </div>
    </div>