<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"><a href="__MODULE__/Advice/lists">咨询管理</a></span><span class="crumb-step">&gt;</span><span class="crumb-name">最新咨询</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="" type="checkbox"></th>
                            <th width="10%">姓名</th>
                            <th width="10%">单位名称</th>
                            <th width="17%">email</th>
                            <th width="17%">电话</th>
                            <th width="20%">所咨询的问题</th>
                            <th width="12%">操作</th>
                        </tr>
                        <volist name="advice" id="data">
                        <tr>
                            <td><input type="checkbox" name="adviceId[]" id="checkbox" value="{$data.advice_id}"><label for="checkbox"></label></td>
                            <td>{$data.name}</td>
                            <td>{$data.unit}</td>
                            <td>{$data.email}</td>
                            <td>{$data.phone}</td>
                            <td>{$data.question}</td>
                            <td>
                                <a class="link-del" href="__MODULE__/Advice/delete/adviceId/{$data.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>