<html>
<head>
  <title>新闻内容</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" height="50px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Index/index">首页</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Honor/jianjie">关于上华</a>
              <ul>
                <li><a href="__MODULE__/Honor/jianjie">公司简介</a></li>
                <li><a href="__MODULE__/Honor/wenhua">公司文化</a></li>
                <li><a href="__MODULE__/Honor/rongyu">公司荣誉</a></li>
                <li><a href="__MODULE__/Job/join1">加入我们</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Product/product">产品服务</a>
              <ul>
                <li><a href="__MODULE__/Product/intergrade">设计软件</a></li>
                <li><a href="__MODULE__/Product/operation">运维系统</a></li>
                <li><a href="__MODULE__/Product/lvse">绿色建筑</a></li>
                <li><a href="__MODULE__/Product/zhushou">DWGHelp</a></li>
                <li><a href="__MODULE__/Product/zonghe">PDMS综合</a></li>
                <li><a href="__MODULE__/Product/fengli">PDMS风力</a></li>
                <li><a href="__MODULE__/Product/gongyi">工艺设计</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/New/company">新闻中心</a>
               <ul>
                <li><a href="__MODULE__/New/company">公司新闻</a></li>
                <li><a href="__MODULE__/Industry/industry">行业资讯</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Success/gl">成功案例</a>
               <ul>
                <li><a href="__MODULE__/Success/gl">管廊</a></li>
                <li><a href="__MODULE__/Success/VE">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Apply/apply">在线咨询</a>
               <ul>
                <li><a href="__MODULE__/Apply/apply">申请试用</a></li>
                <li><a href="__MODULE__/Advice/suggest">咨询或建议</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Contact/contact">联系我们</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="__MODULE__/Industry/s1">中文&nbsp;</a>|<a href="__MODULE__/Industry/s1e">&nbsp;English</a></p>
    </div>
  </div>
  <div id="nav-banner">
    <img src="__PUBLIC__/home/images/b13.png">
  </div>
  <div id="bread">
    <div id="bread-left">行业资讯</div>
      <div id="bread-right"><a href="__MODULE__/Index/index">首页&nbsp;</a>>><a href="__MODULE__/New/company">&nbsp;新闻中心&nbsp;</a>>>&nbsp;行业动态</div>
  </div>

  <div id="new-content-content">
    <h1>贯彻“发动机”文化 做“奔日子的人”</h1>
    <p> &nbsp;&nbsp;11月26日,在收到“联想30年”柳总致全体员工的一封信后，金融第一时间将信件以邮件形式发送给每一位员工,并组织召开了学习讨论会，认真学习贯彻柳总信中的精神。会议由公司董事长兼总裁俞能宏主持,公司总裁室成员，各部门、各子公司负责人参加会议。<br/>
    &nbsp;&nbsp;柳总的信正式拉开了“联想30年”纪念活动的序幕，信中反复提及的“发动机”文化，切中了“联想30年”纪念活动的主题——“奔日子的人”。学习会上，总裁室成员、各部门、各子公司负责人结合自身工作实际，围绕“发动机”文化、“奔日子的人”等内容，从业务创新、团队建设、责任意识等方面发表了学习感悟。各参会人员纷纷表示，今后将坚决贯彻联想“发动机”文化，在保证自己是强有力发动机的同时，培养和制造小发动机，并让大小发动机按照同一目标、意志和方向转动，为公司发展提供源源不竭的动力。<br/>
    &nbsp;&nbsp;在总结发言时俞董事长说，柳总的信生动地诠释了“齿轮”与“发动机”、“过日子”与“奔日子”的区别，的每一位员工都要做奔日子的人，要有强烈的进取心，做到目的性极强。随后，俞董事长向全体员工发出了三问：“齿轮”做好了吗？有做“发动机”的心理准备吗？练就了做“发动机”的本事了吗？俞董事长指出，柳总的信给我们提了很高但切合实际的目标，“动车组”就是要做的目标模式，人人都要争做发动机，促进中期战略落地，服务联想控股上市。<br/>
    &nbsp;&nbsp;下一步,就贯彻柳总提倡的“发动机”文化的重要精神，金融将组织全体员工深入学习，认真思考公司今明两年的战略重点及如何破解难题，在黄山会议战略务虚时讨论，有效推进公司战略落地。金融将积极参与“联想30年”纪念活动，拥抱联想光辉灿烂的历史，用我们的文章、我们的思想，与兄弟单位共同谱写“联想30年”这座里程碑上的华彩乐章。
    </p>
    <div id="content-foot">
      <p><a href="">上一篇</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="__MODULE__/Industry/s1">下一篇</a></p>
    </div>
  </div>
</div>
    <div id="footer">
    <div class="footer-top">
      <h5>关于上华</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;北京上华软件有限公司是一家服务于勘察设计信息化发展领域的新型高科技信息化公司。其团队核心工程师拥有本行业十余年的资历,曾经开发过在市面上具备垄断水平的多款软件产品。</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>行业链接</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">中国市政工程行业协会</a></li>
          <li><a href="http://www.chinaeda.org/">中国勘察设计</a></li>
          <li><a href="http://www.supec.org/">上海规划局</a></li>
          <li><a href="http://www.chinabim.com/">中国BIM门户</a></li>
          <li><a href="http://www.planning.org.cn/">中国城市规划学会</a></li>
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>联系我们</h5></li>
          <hr class="footer-hr">
          <li><img src="__PUBLIC__/home/images/footer1.png"height="12px"width="12px">&nbsp;北京市丰台区建华街道</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;shanghua@163.com</li>
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>产品展示</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>
     本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p></div>
    </div>
  </div>
    <div id="top"></div>
  </body>
</html>
