
body{
	background-color:rgb(249,249,249);
}
.consulting-container{
   
	width:100%;	
	margin-top:35px;
	line-height: 20px;
	float:left;
}
.consulting-container-left{
	
	width:27%;
	margin-left:100px;	
    background-color:rgb(28,34,42);
    color:white;
    font-size:14px;
    float:left;
}
.table{

	margin-top:25px;
	margin-left:15px;
}
.consulting-container-right{
	color:#3c3c3c;
	width:50%;
	margin-right:100px; 
	float:right;
   
}
.table-right{
	/*margin-top:25px;*/
	/*padding-left:380px;*/
	font-size:16px;
	font-family:"微软雅黑";
}
.table-bottom{
	margin-top:30px;
}
.table-bottom li{
	margin-left: 20px;
}
.table-bottom p{
	margin-top: 10px;
    margin-bottom: 10px;
}