*{
   /* font-family: "微软雅黑";*/
    color:#3c3c3c;
}
.product-v2 p{
    font-size: 15px;
}
.product-v3 p{
    font-size: 15px;
}
.product-content{
    padding: 10px 70px;
    padding-bottom: 90px;
    font-family: "微软雅黑";
    line-height:25px;
}
.product-content{
   padding-left: 100px;
    padding-right:100px;
    padding-top: 5%;
}
.fl{
    padding-top: 50px;
    float:left;
    display: block;
}
.fr{
    float:right;
    display: block;
}
.product-v2 {
    width: 100%;
    display: block;
    
}
.product-v2 .fl {
    width: 55%;
}
.product-v2 .fr {
    width: 40%;
    
}
.product-v2 .extP_div {
    padding-top: 70px;
   
}
.product-v3{
    width:100%;
    height:455px;
}
/*.product-v3 {
    width: 100%;
    display: block;
    
}*/
/*.lf {
    float:left;
    padding-top:130px;
    width: 49%;*/
   
    /* background-color: red;*/
/*}
.rf {
     /*float:right;*/
     /*float:left;
    margin-top:10px;
    width: 49%;
}*/
/*.P_div {
   float:left;
    padding-top: 90px;
    background-color: orange;
}
*/