.product-v2 h2{
    font-family: "微软雅黑";
}
.product-v2 h3{
    font-family: "微软雅黑";
}
.product-content{
    padding-left: 30px;
    padding-right:30px;
}
.product-v1{
    padding-top: 10px;
    text-align: center;
    font-family: "微软雅黑";
    padding-bottom: 80px;
    /*background-color: red;*/
}
.product-v1 h2{
    padding-right: 100px;
}
.product-v2{
    padding-bottom: 80px;
}
.product-v2 p{
    font-family: "微软雅黑";
    /*font-size:18px;*/
}
.div-a{
    float:left;
    width:48%;
}
.div-b{
    float:left;
    width:48%;
    height:270px;
    padding-bottom: 80px;
    margin-left: 18px;
}
.div-b p{
    padding-top: 20px;
    font-family: "微软雅黑";
   /* font-size: 18px;*/
}
/*.div-b h4{
    color: orange; 
     font-family: "微软雅黑";
}*/
.product-v3{
    padding-top: 540px;
    padding-left: 35px;
    padding-bottom: 80px;
}
.product-v3 h2,h3{
    font-family: "微软雅黑";
}
/*.product-v3 h3{
    font-family: "微软雅黑";
}*/
.product-v3 img{
    width:30%;
    height:200px;
    border:6px solid rgb(249,249,249);
} 
.product-v4{
    margin-top:80px;
}
body{
    background-color:rgb(249,249,249);
}
img{
    border:none
}
.product-wrap{
    margin:10px;
    position:relative;
}
.product-photo a{
    position:absolute;
    display:block;
    border:0px solid rgb(249,249,249);
    padding:2px
}
.product-photo a:hover{
    border:1px solid #fff;
    text-decoration:none
}
.product-photo a span {
    display:none;
    cursor:hand;
    text-align:center;
    font:bold 12px/30px Verdana, Arial;
}
.product-photo a:hover span{
    width:100%;
    margin:0 2px;
    background:#000;
    display:block;
    position:absolute;
    bottom:0;left:0;
    color:#fff;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;opacity:0.6;
}
