body{
	background: url(../images/back1.jpg) no-repeat;
}
#new-content-content h1{
	text-align: center;
	margin-top: 50px;
}
#new-content-content p{
	margin-top: 30px;
	margin-left: 200px;
	margin-right: 200px;
}
#content-foot p{
	float: right;
	
}
#content-foot p a{
	text-decoration: none;
	color: black;
	font-family: "黑体";
}
#content-foot p a:hover{
	color: red;
}