* { margin: 0; padding: 0}
 .fl ul {list-style: none;}
 .fl ul{
 width: 200px;
 height: 200px;
 margin: 20px auto;
 position: relative;
 transition: all 6s;
 /*6秒时间转变*/
transform-style: preserve-3d;
 /*放在父盒子内*/
 }
.fl ul li {
	/*list-style-type: none;*/
 width: 100%;
 height: 100%;
 position: absolute;
 text-align: center;
 line-height: 200px;
 font-size: 40px;
 color: #fff;
 }
 .fl li:nth-child(1){
 transform: rotateX(0deg) translateZ(100px);
 /*translateZ是为了让立方体出现形状*/
background-color: rgba(255, 0, 0, 0.6);
 }
 .fl li:nth-child(2){
 transform: rotateX(-90deg) translateZ(100px);
 background-color: rgba( 0, 255,0, 0.6);
 }
 .fl li:nth-child(3){
 transform: rotateX(-180deg) translateZ(100px);
 background-color: rgba(0,0,255,0.5);
 }
 .fl li:nth-child(4){
 transform: rotateX(-270deg) translateZ(100px);
 background-color: rgba(50,50,25,0.5);
 }
 .fl li:nth-child(5){
 transform: rotateY(-90deg) translateZ(100px);
 background-color: rgba(255,0,255,0.5);
 }
 .fl li:nth-child(6){
 transform: rotateY(90deg) translateZ(100px);
 background-color: rgba(0,255,255,0.5);
 }
 .fl ul:hover{
 transform :rotateX(360deg) rotateY(360deg);
 }