* {
  margin: 0; padding: 0;
}
body {
  font-size: 100%;
}
.accordion {
  width: 190px;
}
.accordion h2{
  font-family: "News Cycle";
}
.accordion h1 {
  /*text-align: center;*/
  padding: 10px 20px;
  background-color:rgb(245,245,245);
  font-family: "微软雅黑";
  font-size: 0.9rem;
  font-weight: normal;
  border-right: 1px outset;
  border-bottom: 1px outset;
  color: #333;

}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
}
.accordion div{
  display: none;
}
.accordion h2 {
  /*text-align: center;*/
  padding: 8px 35px;
  background-color: #E0E0E0;
  font-size: 0.9rem;
  font-weight: normal;
  border-bottom: 1px dotted;
  border-right: 1px outset;
}
.accordion h2 a{
  color: #333;
  font-family: "微软雅黑";
}
.accordion h2:hover {
  background-color: #BEBEBE;
}

.accordion .opened-for-codepen {
  display: block;
}
i{
  margin-right: 5px;
}
