<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="__MODULE__/Users/lists">用户管理</a><span class="crumb-step">&gt;</span><span>修改个人密码</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__MODULE__/Users/doPwd" method="post" role="form">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr><td>
                                <input type="hidden" name="id" value="{$users.id}">
                            </td></tr>
                            <tr>
                                <th>用户名：</th>
                                <td>
                                    <input class="common-text required" id="read-style" name="username" size="50" value="{$users.username}" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>真实姓名：</th>
                                <td>
                                    <input class="common-text required" id="read-style" name="truename" size="50" value="{$users.truename}" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>旧密码：</th>
                                <td>
                                    <input class="common-text required"  size="50" type="password">
                                </td>
                            </tr>
                            <tr>
                                <th>新密码：</th>
                                <td>
                                    <input class="common-text required" name="password" size="50" type="password">
                                </td>
                            </tr>
                            <tr>
                                <th>确认密码：</th>
                                <td>
                                    <input class="common-text required" name="repassword" size="50" type="password">
                                </td>
                            </tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="保存" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>