<layout name="layout_admin" />
<div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <span>首页</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/010.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Users/lists?p=1')}">用户管理</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/011.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('New/lists?p=1')}">新闻列表</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/006.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Industry/lists?p=1')}">行业资讯</a></div></li>
                    </ul>
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/008.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Product/lists?p=1')}">产品列表</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/001.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Case/lists?p=1')}">成功案例</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/012.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Apply/lists?p=1')}">申请试用</a></div></li>
                    </ul>
                    <ul class="short-list">
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/003.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Honor/lists?p=1')}">荣誉列表</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/013.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Job/lists?p=1')}">职位列表</a></div></li>
                        <li><div class="short-img"><img src="__PUBLIC__/admin/images/005.png" height="40px" width="50px"></div><div class="short-list1"><a href="{:U('Advice/lists?p=1')}">咨询列表</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>简介</h1>
            </div>
            <div class="result-content1">
                <h6>介绍</h6>
                <p>北京上华软件有限公司是一家服务于勘察设计信息化发展领域的新型高科技信息化公司。</p>
                <h6>主要产品</h6>
                <p>各种软件</p>
                <h6>地址</h6>
                <p>北京市丰台区建华街道上华软件有限公司</p>
                <h6>联系方式</h6>
                <p>400-700-3609</p>
                <h6>网址</h6>
                <p>www.shanghua.com</p> 
            </div>
        </div>
        
    </div>