<html>
<head>
  <title>content1</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="css/nav.css" type="text/css" rel="stylesheet" />
  <link href="css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="images/logo.jpg" width="100%" height="45px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="index-en.html">Home</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="jianjie_en.html">About&nbsp;SH</a>
              <ul>
                <li><a href="jianjie_en.html">Profile</a></li>
                <li><a href="wenhua_en.html">Culture</a></li>
                <li><a href="rongyu_en.html">Honor</a></li>
                <li><a href="jiaruwomen_en.html">Join&nbsp;Us</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="product-en.html">Products</a>
              <ul>
                <li><a href="intergrade_en.html">Integrated</a></li>
                <li><a href="operation-en.html">Maintenance</a></li>
                <li><a href="lvse-en.html">Green&nbsp;Building</a></li>
                <li><a href="zhushou-en.html">DWGHelp</a></li>
                <li><a href="zonghe-en.html">PDMS&nbsp;Synthetic</a></li>
                <li><a href="fengli-en.html">PDMS&nbsp;Wind</a></li>
                <li><a href="gongyi-en.html">Process</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="new-company-en.html">News</a>
               <ul>
                <li><a href="new-company-en.html">Company</a></li>
                <li><a href="new-industry-en.html">Industry</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="gl-en.html">Success</a>
               <ul>
                <li><a href="gl-en.html">Pipe&nbsp;Sallery</a></li>
                <li><a href="VE-en.html">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="apply_en.html">Consulting</a>
               <ul>
                <li><a href="apply_en.html">Apply</a></li>
                <li><a href="suggest-en.html">Advice</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="contact_en.html">Contact</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="s1.html">中文&nbsp;</a>|<a href="s1-en.html">&nbsp;English</a></p>
    </div>
     
  </div>
  <div id="nav-banner">
    <img src="images/z13.png">
  </div>
  <div id="bread">
    <div id="bread-left">News</div>
      <div id="bread-right"><a href="index-en.html">Home&nbsp;</a>>><a href="new-company-en.html">&nbsp;Company&nbsp;</a>>><a href="new-industry-en.html">&nbsp;Industry</a></div>
  </div>

  <div id="new-content-content">
    <h1> to implement the "engine" culture to do "run the day of the people" </h1>
<p>     in November 26th, received a letter of Lenovo Liu total 30 years "to all employees, finance will be the first time the mail to send email to every employee, and organized learning seminars, conscientiously study and implement the spirit of General Liu letter. The meeting was chaired by the chairman and President of the company Yu Nenghong, President of the company's office of the members of the Department, the head of the sub companies to participate in the meeting. <br/>
    Liu total letter officially opened the prelude to the commemoration of the 30 years Lenovo ", repeatedly mentioned in the letter" engine "culture, to" Lenovo 30 years "Commemoration of the theme --" who ran the day". Study on the meeting, President of chamber members, each department and each subsidiary responsible for people with their own actual work, around the "engine" culture, "ran the day people", from business innovation, team construction, responsibility awareness and other aspects of learning: insights. All participants have said that the future will resolutely implement the Lenovo "engine" culture, in that he is a powerful engine at the same time, develop and manufacture of small engine, and so the size of the engine rotation in accordance with the same target, and will provide direction inexhaustiblepower for the development of the company. <br/>
    Yu chairman said in his concluding remarks, Liu total letter vivid interpretation of the "gear" and "engine" and "live" and "rush days" distinction, every staff to do rush of life, to have a strong entrepreneurial spirit, to do very strong. Subsequently, the chairman of the board to the staff of three asked: "gear" to do it? Is there a mental preparation for the engine? I do "engine" skill? Chairman Liu Yu pointed out that the total letter raised very high but realistic goals for us, "the target mode of EMU is to do, everyone must strive to promote mid engine, strategic landing, Lenovo holdings listed service. <br/>
    next, carry out the important spirit of the "engine" of Liu Zong advocate culture, finance will organize staff in-depth study, thinking seriously about the strategic focus of the company next year and how to solve problems, meeting in Mount Huangshan discussed strategic retreat, effectively promote the company's strategic landing. Finance will actively participate in the "Lenovo 30" commemorative activities, embrace the Lenovo shine with great splendor history, with our articles, our thoughts, and brothers together to write "Lenovo 30 years" the milepost on cadenza.
</p>
    <div id="content-foot">
      <p><a href="">Last one</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="s2-en.html">Next article</a></p>
    </div>
  </div>
</div>
    <div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5>About&nbsp;SH</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;Beijing Shanghua Software Co., Ltd. is a new high-tech information company, a service in the field of development survey and design information.</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>Industry link</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">China Municipal Engineering Association</a></li>
          <li><a href="http://www.chinaeda.org/">Survey and design of China</a></li>
          <li><a href="http://www.supec.org/">Shanghai Planning Bureau</a></li>
          <li><a href="http://www.chinabim.com/">China BIM portal</a></li>
          
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>Contact</h5></li>
          <hr class="footer-hr">
          <li><img src="images/footer1.png"height="12px"width="12px">&nbsp;Beijing City, Fengtai District Jianhua Street</li>
          <li><img src="images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>Product</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>This page content for the website demonstration data, front page content can be modified in the background.</p></div>
    </div>
    </div>
    <div id="top"></div>
  </body>
</html>
