<html>
<head>
  <title>新闻内容</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" height="50px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="index.html">首页</a></li>
        </ul>
    </div>
   <div class="nav">
        <ul>
            <li><a href="jianjie.html">关于上华</a>
              <ul>
                <li><a href="jianjie.html">公司简介</a></li>
                <li><a href="wenhua.html">公司文化</a></li>
                <li><a href="rongyu.html">公司荣誉</a></li>
                <li><a href="jiaruwomen.html">加入我们</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="product.html">产品服务</a>
              <ul>
                <li><a href="intergrade_cn.html">设计软件</a></li>
                <li><a href="operation.html">运维系统</a></li>
                <li><a href="lvse.html">绿色建筑</a></li>
                <li><a href="zhushou.html">DWGHelp</a></li>
                <li><a href="zonghe.html">PDMS综合</a></li>
                <li><a href="fengli.html">PDMS风力</a></li>
                <li><a href="gongyi.html">工艺设计</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="new-company.html">新闻中心</a>
               <ul>
                <li><a href="new-company.html">公司新闻</a></li>
                <li><a href="new-industry.html">行业资讯</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="gl-cn.html">成功案例</a>
               <ul>
                <li><a href="gl-cn.html">管廊</a></li>
                <li><a href="VE.html">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="apply_cn.html">在线咨询</a>
               <ul>
                <li><a href="apply_cn.html">申请试用</a></li>
                <li><a href="suggest.html">咨询或建议</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="contact_cn.html">联系我们</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="s3.html">中文&nbsp;</a>|<a href="s3-en.html">&nbsp;English</a></p>
    </div>
  </div>
  <div id="nav-banner">
    <img src="__PUBLIC__/home/images/b13.png">
  </div>
  <div id="bread">
    <div id="bread-left">行业资讯</div>
      <div id="bread-right"><a href="index.html">首页&nbsp;</a>>><a href="new-company.html">&nbsp;公司新闻&nbsp;</a>>><a href="new-industry.html">&nbsp;行业动态</a></div>
  </div>

  <div id="new-content-content">
    <h1>机会是留给会“创新”的人，只有“创新”才能把握机会</h1>
    <p> &nbsp;&nbsp;我们的总设计师邓小平同志就是审时度势提出了“改革开放”的创新之举，才抓住了全球经济发展的大潮流机会，才使中国经济有了长足的发展，最终实现了中国经济取得世界第二大经济体的位置。在工作中我们要做一个创新的工作者，只有这样才善于抓住机会，才会获得成功。<br/>
    &nbsp;&nbsp;当前，我们的国家现在正处于改革的关键时期，各项工作正有待于开展，这就需要我们具备自我创新能力，政府需要在观念上创新，企业需要在技术上创新，个人也需要努力学习，刻苦钻研，在将工作抓实的基础上，注重创新，力求工作有所突破，有所创新。只有这样，我们的国家才能抓住全球和平共赢的机会实现大的提升，企业才能抓住金融危机的机会处于不败之地，个人才能抓住人才战略的机会实现个人最大价值。
    &nbsp;&nbsp;总之，我们要认真牢记习总书记的讲话，做一个善于创新的人，做一个善于抓住机会的人，做一个对社会有用的人。
    </p>
    <div id="content-foot">
      <p><a href="s2.html">上一篇</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">下一篇</a></p>
    </div>
  </div>
</div>
    <div id="footer">
    <div class="footer-top">
      <h5>关于上华</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;北京上华软件有限公司是一家服务于勘察设计信息化发展领域的新型高科技信息化公司。其团队核心工程师拥有本行业十余年的资历,曾经开发过在市面上具备垄断水平的多款软件产品。</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>行业链接</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">中国市政工程行业协会</a></li>
          <li><a href="http://www.chinaeda.org/">中国勘察设计</a></li>
          <li><a href="http://www.supec.org/">上海规划局</a></li>
          <li><a href="http://www.chinabim.com/">中国BIM门户</a></li>
          <li><a href="http://www.planning.org.cn/">中国城市规划学会</a></li>
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>联系我们</h5></li>
          <hr class="footer-hr">
          <li><img src="__PUBLIC__/home/images/footer1.png"height="12px"width="12px">&nbsp;北京市丰台区建华街道</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;shanghua@163.com</li>
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>产品展示</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>This page content for the website demonstration data, front page content can be modified in the background.</p></div>
    </div>
  </div>
    <div id="top"></div>
  </body>
</html>
