<html>
<head>
  <title>content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" width="100%" height="45px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="index-en.html">Home</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="jianjie_en.html">About&nbsp;SH</a>
              <ul>
                <li><a href="jianjie_en.html">Profile</a></li>
                <li><a href="wenhua_en.html">Culture</a></li>
                <li><a href="rongyu_en.html">Honor</a></li>
                <li><a href="jiaruwomen_en.html">Join&nbsp;Us</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="product-en.html">Products</a>
              <ul>
                <li><a href="intergrade_en.html">Integrated</a></li>
                <li><a href="operation-en.html">Maintenance</a></li>
                <li><a href="lvse-en.html">Green&nbsp;Building</a></li>
                <li><a href="zhushou-en.html">DWGHelp</a></li>
                <li><a href="zonghe-en.html">PDMS&nbsp;Synthetic</a></li>
                <li><a href="fengli-en.html">PDMS&nbsp;Wind</a></li>
                <li><a href="gongyi-en.html">Process</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="new-company-en.html">News</a>
               <ul>
                <li><a href="new-company-en.html">Company</a></li>
                <li><a href="new-industry-en.html">Industry</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="gl-en.html">Success</a>
               <ul>
                <li><a href="gl-en.html">Pipe&nbsp;Sallery</a></li>
                <li><a href="VE-en.html">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="apply_en.html">Consulting</a>
               <ul>
                <li><a href="apply_en.html">Apply</a></li>
                <li><a href="suggest-en.html">Advice</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="contact_en.html">Contact</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="c1.html">中文&nbsp;</a>|<a href="c1-en.html">&nbsp;English</a></p>
    </div>
     
  </div>
  <div id="nav-banner">
    <img src="__PUBLIC__/home/images/z12.png">
  </div>
  <div id="bread">
    <div id="bread-left">News</div>
      <div id="bread-right"><a href="index-en.html">Home&nbsp;>></a><a href="new-company-en.html">&nbsp;News&nbsp;>></a><a href="new-company-en.html">&nbsp;Company</a></div>
  </div>

  <div id="new-content-content">
    <h1> national excellent engineering survey and design computer software award declaration </h1>
<p>    all localities and departments of survey and Design Association, directly(hereinafter referred to as the industry award selection work notice as follows: <br/><br/>
First, the scope of application: <br/>
(One)integrated: <br/>
1, engineering survey project. <br/>
2, construction project. <br/>
3, residential and residential area project. <br/>
4, municipal public works project. <br/>
5, engineering survey and design of computer software projects. <br/>
6, construction engineering standard design project. <br/><br/>
(two) special class: <br/>
1, geotechnical engineering projects. <br/>
2, civil air defense projects. <br/>.
3, the construction of professional projects. <br/>
4, landscape design projects. <br/>
5, construction environment and equipment professional project. <br/>
 <br/><br/>
Two, reporting requirements: <br/>
1, reporting project should be in accordance with the "selection approach" requirements. <br/>
2, the applicant Applicationshall be separately bound. To send to the local, Department of survey and design association. <br/>
Three, reporting materials: <br/>
1, returns a A4 binding in a soft paper format and Word format electronic version of; <br/>
2, proof and attachment materials with a A4 binding in a soft paper format and JPG format electronic version of ;<br/>
3, drawing with A3 map leather binding one copy and JPG format electronic version of A. <br/>
The above application materials in various professional reporting rules have specific requirements. <br/>
</p>
    <div id="content-foot">
      <p><a href="">Last one</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="c2-en.html">Next article</a></p>
    </div>
  </div>
</div>
    <div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5>About&nbsp;SH</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;Beijing Shanghua Software Co., Ltd. is a new high-tech information company, a service in the field of development survey and design information.</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>Industry link</h5></li>
          <hr class="footer-hr">
         <li><a href="http://www.chszxh.org/">China Municipal Engineering Association</a></li>
          <li><a href="http://www.chinaeda.org/">Survey and design of China</a></li>
          <li><a href="http://www.supec.org/">Shanghai Planning Bureau</a></li>
          <li><a href="http://www.chinabim.com/">China BIM portal</a></li>
          
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>Contact</h5></li>
          <hr class="footer-hr">
          <li><img src="__PUBLIC__/home/images/footer1.png"height="12px"width="12px">&nbsp;Beijing City, Fengtai District Jianhua Street</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>Product</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p>My website copyright all 2008-2014 Xiang 8888888<br/> for ICP This page content for the website demonstration data, front page content can be modified in the background.<br/>
      Powered by MetInfo</p></div>
    </div>
    </div>
    <div id="top"></div>
  </body>
</html>
