<html>
<head>
  <title>Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="css/nav.css" type="text/css" rel="stylesheet" />
  <link href="css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="images/logo.jpg" width="100%" height="45px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="index-en.html">Home</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="jianjie_en.html">About&nbsp;SH</a>
              <ul>
                <li><a href="jianjie_en.html">Profile</a></li>
                <li><a href="wenhua_en.html">Culture</a></li>
                <li><a href="rongyu_en.html">Honor</a></li>
                <li><a href="jiaruwomen_en.html">Join&nbsp;Us</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="product-en.html">Products</a>
              <ul>
                <li><a href="intergrade_en.html">Integrated</a></li>
                <li><a href="operation-en.html">Maintenance</a></li>
                <li><a href="lvse-en.html">Green&nbsp;Building</a></li>
                <li><a href="zhushou-en.html">DWGHelp</a></li>
                <li><a href="zonghe-en.html">PDMS&nbsp;Synthetic</a></li>
                <li><a href="fengli-en.html">PDMS&nbsp;Wind</a></li>
                <li><a href="gongyi-en.html">Process</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="new-company-en.html">News</a>
               <ul>
                <li><a href="new-company-en.html">Company</a></li>
                <li><a href="new-industry-en.html">Industry</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="gl-en.html">Success</a>
               <ul>
                <li><a href="gl-en.html">Pipe&nbsp;Sallery</a></li>
                <li><a href="VE-en.html">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="apply_en.html">Consulting</a>
               <ul>
                <li><a href="apply_en.html">Apply</a></li>
                <li><a href="suggwst-en.html">Advice</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="contact_en.html">Contact</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="new-content.html">中文&nbsp;</a>|<a href="new-content-en.html">&nbsp;English</a></p>
    </div>
     
  </div>
  <div id="nav-banner">
    <img src="images/z12.png">
  </div>
  <div id="bread">
    <div id="bread-left">News</div>
      <div id="bread-right"><a href="index-en.html">Home&nbsp;>></a><a href="new-company-en.html">&nbsp;News&nbsp;>></a>&nbsp;Company</div>
  </div>

  <div id="new-content-content">
    <h1>Urban planning requirements for architectural design</h1>
    <p>&nbsp;&nbsp;The plan, which means to a more comprehensive and long-term development plan for the future,Therefore, referring to the planning, we must consider the land acquisition, planning and design drawings, a series of problems. In fact, this is the understanding of the concept of planning Overgeneralization.</p><br/>
      <p>1 Scope and boundaries of land use<br/>
      Should master the road center line, the red line of the road, the green control line, the use of land boundaries, construction control lines. The candidate should have a clear understanding of the meaning of several control lines and the difference between the control line and other control lines.<br/><br/>
      2 the relationship between urban roads and urban roads<br/>This is each engaged in urban planning.conditional on the road red line. Collection of scattered<br/><br/>
      3 entrances and exits<br/>
      The traffic flow more bases and personnel intensive construction base should comply with the provisions of the local planning department in charge of handling.<br/><br/>
      4 the nature of land use planning.<br/>
      Site specific construction projects, the use of controlled detailed planning to limit the only certain properties.<br/><br/>
     5 control of the scope of land use.<br/>Planning is completed by the building red line and the road red line.<br/><br/>
     6 control of land use intensity.<br/>
      The building volume rate, coverage rate, green coverage rate and other indicators to achieve, is defined by the appropriate range.<br/><br/>
      7 control of the scope of construction land.<br/>
      Limited by the scope of the building control line, which is the base to allow. Planning the construction of the scope of the line from the red line back to a certain distance.<br/><br/>
      8 requirements in the planning of building height,the direction of the main population and other aspects of the requirements in the design of the site should also be met<br/><br/>
      9 entrances and exits<br/>
      The traffic flow more bases and personnel intensive circumstances, according to the provisions of the local planning department in charge of handling.<br/><br/>
    </p>
    <div id="content-foot">
      <p><a href="#">Last one</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Next article
</a></p>
    </div>
  </div>
</div>
    <div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5>About&nbsp;SH</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;Beijing Shanghua Software Co., Ltd. is a new high-tech information company, a service in the field of development survey and design information.</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>Industry link</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">China Municipal Engineering Association</a></li>
          <li><a href="http://www.chinaeda.org/">Survey and design of China</a></li>
          <li><a href="http://www.supec.org/">Shanghai Planning Bureau</a></li>
          <li><a href="http://www.chinabim.com/">China BIM portal</a></li>
          
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>Contact</h5></li>
          <hr class="footer-hr">
          <li><img src="images/footer1.png"height="12px"width="12px">&nbsp;Beijing City, Fengtai District Jianhua Street</li>
          <li><img src="images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>Product</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>This page content for the website demonstration data, front page content can be modified in the background.</p></div>
    </div>
    </div>
    <div id="top"></div>
  </body>
</html>
