<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vmc Slider | 带多种过渡特效的jQuery幻灯片插件</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	
		
		<h3>Vmc Slider | 带多种过渡特效的jQuery幻灯片插件 <span>A jQuery Slider plugin </span></h3>		
		
		<!-- <div class="container"> -->
			<div class="content" style="width:1000px;height:300px;margin:30px auto;overflow:hidden;">
				<div id="slider">
					<a href="#"><img src="img/demo1.jpg"/></a>
					<a href="#"><img src="img/demo2.jpg"/></a>
					<a href="#"><img src="img/demo3.jpg"/></a>
					<a href="#"><img src="img/demo4.jpg"/></a>
					<a href="#"><img src="img/demo5.jpg"/></a>
					<a href="#"><img src="img/demo6.jpg"/></a>
				</div>
			</div>
		<!-- </div> -->
		
	
	
	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="js/vmc.slider.full.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#slider').vmcSlider({
				width: 1000,
				height: 300,
				gridCol: 10,
				gridRow: 5,
				gridVertical: 20,
				gridHorizontal: 10,
				autoPlay: true,
				ascending: true,
				effects: [
					'fade', 'fadeLeft', 'fadeRight', 'fadeTop', 'fadeBottom', 'fadeTopLeft', 'fadeBottomRight',
					'blindsLeft', 'blindsRight', 'blindsTop', 'blindsBottom', 'blindsTopLeft', 'blindsBottomRight',
					'curtainLeft', 'curtainRight', 'interlaceLeft', 'interlaceRight', 'mosaic', 'bomb', 'fumes'
				],
				ie6Tidy: false,
				random: false,
				duration: 2000,
				speed: 900
			});
		});
	</script>
</body>
</html>