 <!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>**酒店</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href=" images/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src=" images/jquery-1.7.2.min.js"></script>
    <script src=" images/common.js" type="text/javascript"></script>
<script type="text/javascript">
    $.get('http://localhost/hotelms/admin/category',function(data){
        console.log(JSON.parse(data));
    });
</script>
</head>
<body class="body_index">
<!--Logo 开始-->
<!--导航条 开始-->
    <div class="banner mr">
           
            <a class="" href="#" target="_blank"><img src="images/18143441.jpg" ></a>
    </div>
  
<div class="index"><!--板块2 开始--
  <div class="left_bottom"></div><!--板块2  结束--><!--板块1 开始-->
 
  <div class="left_body">
    <ul class="textlist"><!--循环开始-->
    <li><a href="#" title="">宝狮莱杯第三届北戴河速度轮滑邀请赛鸣枪开赛</a> </li>
    <li><a href="#" title="">北戴河区“两轮驱动”助力文化大繁荣</a> </li>
    <li><a href="#" title="">北戴河区东山街道选“社区之星” 建文明家园</a> </li>
    <li><a href="#" title="">安居社区多彩活动喜庆“三八”</a> </li>
    <li><a href="#" title="">2015“幸福北戴河”区直机关新春文艺晚会举办</a> </li>
    <li><a href="#" title="">北戴河区邀请专家为绿化除草“把脉施方”</a> </li>
      <li><a href="#" title="">2015“幸福北戴河”区直机关新春文艺晚会举办</a> </li>
    <li><a href="#" title="">北戴河区邀请专家为绿化除草“把脉施方”</a> </li>
    <!--循环结束--></ul></div>
    <div class="left_bottom"></div>
    <div class="left_bottom"></div>
    <!--板块2 开始--><div class="left_bottom"></div><!--板块2  结束-->
    
    <!--板块1 开始--><!--板块1 结束-->
    
    
    <div class="clear"></div></div><!--版权 开始--><div id="copyright"><div class="bottom_navigation"></div><div class="Mobile">&nbsp;&nbsp;ICP备888888888号<br>电话:0310-12345678&nbsp;&nbsp;传真:0310-12345678<br>地址:xxxxxxxxxx906</div>
   
</div><!--版权 结束-->
<div id="tool"><ul class="toollist"><li><a href=" images/某某公司.html"><img src=" images/home.png"><p>首页</p></a></li><li><a href="tel:13512345678"><img src=" images/tel.png"><p>新闻</p></a></li><li><a href="#"><img src=" images/map.png"><p>商务会议</p></a></li><li><a href="#"><img src=" images/guestbook.png"><p>会员登陆</p></a></li></ul></div>
</body>
</html>