#header img{
	width:1367px;
	height:450px;
}
#bread-first{
	font-size: 30px;
	color: #EA7500;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
#bread-second{
	padding-top: 30px;
	padding-left: 1110px;
}
.new-list li{
	list-style:square inside;
	padding-left:50px;
}
.new-list li a{
	text-decoration: none;
	color: black;
}
.new-list li a:hover{
	color:#FF8000;
}
.new-list li span{
 float: right;/*使span元素浮动到右面*/
 text-align: right;/*日期右对齐*/
}
.pagination{
	float: right;
}
#content{
	/*background: url(../images/back.png) no-repeat;*/
	height: 1000px;

}

#content-article h1{
	font-family: "微软雅黑";
	font-size: 35px;
	padding-top: 25px;
	text-align: center;
}
#content-article p{
	font-family: "微软雅黑";
	padding-left: 210px;
	padding-right: 210px;
    line-height:40px;
    font-size:18px;
}
#content-title p{
	font-family: "微软雅黑";
	padding-top: 20px;
	padding-left: 800px;
	padding-bottom: 20px;
	font-size: 12px;
}
#content-foot p{
	padding-top: 50px;
	padding-right: 240px;
	float: right;
}
#content-foot p a{
	text-decoration: none;
	color: black;
}
#content-foot p a:hover{
	color: orange;
}