<html>
<head>
  <title>Process</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
   <link rel="stylesheet" href="__PUBLIC__/home/css/gongyi.css" />
   <link href="__PUBLIC__/home/css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>

  <div id="nav-header">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" width="100%" height="45px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Index/indexe">Home</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Honor/jianjiee">About&nbsp;SH</a>
              <ul>
                <li><a href="__MODULE__/Honor/jianjiee">Profile</a></li>
                <li><a href="__MODULE__/Honor/wenhuae">Culture</a></li>
                <li><a href="__MODULE__/Honor/rongyue">Honor</a></li>
                <li><a href="__MODULE__/Job/join1e">Join&nbsp;Us</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Product/producte">Products</a>
              <ul>
                <li><a href="__MODULE__/Product/intergradee">Integrated</a></li>
                <li><a href="__MODULE__/Product/operatione">Maintenance</a></li>
                <li><a href="__MODULE__/Product/lvsee">Green&nbsp;Building</a></li>
                <li><a href="__MODULE__/Product/zhushoue">DWGHelp</a></li>
                <li><a href="__MODULE__/Product/zonghee">PDMS&nbsp;Synthetic</a></li>
                <li><a href="__MODULE__/Product/fenglie">PDMS&nbsp;Wind</a></li>
                <li><a href="__MODULE__/Product/gongyie">Process</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/New/companye">News</a>
               <ul>
                <li><a href="__MODULE__/New/companye">Company</a></li>
                <li><a href="__MODULE__/Industry/industrye">Industry</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Success/gle">Success</a>
               <ul>
                <li><a href="__MODULE__/Success/gle">Pipe&nbsp;Sallery</a></li>
                <li><a href="__MODULE__/Success/VEe">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Apply/applye">Consulting</a>
               <ul>
                <li><a href="__MODULE__/Apply/applye">Apply</a></li>
                <li><a href="__MODULE__/Advice/suggeste">Advice</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Contact/contacte">Contact</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
     <p><a href="__MODULE__/Product/gongyi">中文&nbsp;</a>|<a href="__MODULE__/Product/gongyie">&nbsp;English</a></p>
    </div>
  </div>
  <div id="nav-banner">
    <img src="__PUBLIC__/home/images/z11.png">
  </div>
  <div id="bread">
    <div id="bread-left">Products</div>
      <div id="bread-right"><a href="__MODULE__/Index/indexe">首页&nbsp;</a>>><a href="__MODULE__/Product/producte">&nbsp;产品服务&nbsp;</a>>>&nbsp;PDMS风管阻力计算</div>
  </div>
  

<div class="product-content">
            <div class="product-v1" >
              <h2>PROCESS DESIGN SOFTWARE</h2>
              <h3>工艺设计软件</h3>
            </div>
            <div class="product-v2">
              <div class="product-v2-top">
                <div class="product-v2-top1">
                  <img src="__PUBLIC__/home/images/gy4.png">
                  <h3>General introduction of process software</h3><br/>
                  <p>&nbsp;&nbsp;A project from the process design, process piping layout to the final material statistics. The heavy work of drawing and the process of material statistics, so that engineers spend a lot of time and effort.</p>
                </div>
                <div class="product-v2-top2">
                  <img src="__PUBLIC__/home/images/gy2.png">
                  <h3>CADPS excellent network service performance</h3><br/>
                  <p>&nbsp;&nbsp;CADPS is a set of integrated pipeline design system, which is introduced in the field of pipeline design, which is a set of two-dimensional pipeline design and material management. </p>
                </div> 
              </div>
              <div class="product-v2-top">
                <div class="product-v2-top1">
                  <img src="__PUBLIC__/home/images/gy1.png">
                  <h3>Absolute data security</h3><br/>
                  <p>&nbsp;&nbsp;With data services access rights, data access and data content filtering, and other rights control mechanisms, complete on-demand distribution of three-dimensional geographic information services. Strict client cache data encryption mechanism to ensure that data security does not stay dead.</p>
                </div>
                <div class="product-v2-top2">
                  <img src="__PUBLIC__/home/images/gy3.png">
                  <h3>10 key characteristics of CADPS</h3><br/>
                  <p>1、Fast intelligent pipe drawing；<br/>2、Flexible and accurate component insertion;<br/>3、Full intelligent automatic marking function;<br/>4、Fully automatic multi dimension positioning function;</p>
                </div> 
              </div>
            </div>
  </div>






  <div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5>About&nbsp;SH</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;Beijing Shanghua Software Co., Ltd. is a new high-tech information company, a service in the field of development survey and design information.</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>Industry link</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">China Municipal Engineering Association</a></li>
          <li><a href="http://www.chinaeda.org/">Survey and design of China</a></li>
          <li><a href="http://www.supec.org/">Shanghai Planning Bureau</a></li>
          <li><a href="http://www.chinabim.com/">China BIM portal</a></li>
          
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>Contact</h5></li>
          <hr class="footer-hr">
          <li><img src="__PUBLIC__/home/images/footer1.png"height="12px"width="12px">&nbsp;Beijing City, Fengtai District Jianhua Street</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>Product</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>This page content for the website demonstration data, front page content can be modified in the background.</p></div>
    </div>
    </div>
    <div id="top"></div>
  </body>
</html>