<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>北京上华软件</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/mycss.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/style.css">
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/showdate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/quanxuan.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <!-- <h1 class="topbar-logo none"><a href="#" class="navbar-brand">后台管理</a></h1> -->
            <img src="__PUBLIC__/admin/images/logo.jpg" height="45px;" >
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="__MODULE__/Index/index" class="top-a">后台首页</a></li>
                <li><a href="{:U('Home/Index/index')}" class="top-a">前台首页</a></li>
                <li><a href="{:U('Admin/Indexen/index')}" class="top-a">英文版</a></li>
                <li><a href="__MODULE__/Index/loginout" class="top-a">退出</a></li>
            </ul>
        </div>
    </div>
</div>


    <aside class="accordion" style="float:left">
        <h1><i class="icon-font">&#xe051;</i>账户管理</h1>
        <div class="opened-for-codepen">
            <h2><a href="__MODULE__/Users/lists"><i class="icon-font">&#xe050;</i>用户管理</a></h2>
            <h2><a href="__MODULE__/Users/add"><i class="icon-font">&#xe026;</i>添加用户</a></h2>
            <h2><a href="__MODULE__/Users/pass"><i class="icon-font">&#xe051;</i>修改个人密码</a></h2>
        </div>

        <h1><i class="icon-font">&#xe001;</i>新闻管理</h1>
        <div>
            <h2><a href="__MODULE__/New/lists"><i class="icon-font">&#xe050;</i>新闻列表</a></h2>
            <h2><a href="__MODULE__/New/add"><i class="icon-font">&#xe026;</i>添加新闻</a></h2>
        </div>

        <h1><i class="icon-font">&#xe005;</i>行业资讯</h1>
        <div>
            <h2><a href="__MODULE__/Industry/lists"><i class="icon-font">&#xe050;</i>咨询列表</a></h2>
            <h2><a href="__MODULE__/Industry/add"><i class="icon-font">&#xe026;</i>新增咨询</a></h2>
        </div>

        <h1><i class="icon-font">&#xe018;</i>产品管理</h1>
        <div>
            <h2><a href="__MODULE__/Product/lists"><i class="icon-font">&#xe050;</i>产品列表</a></h2>
            <h2><a href="__MODULE__/Product/add"><i class="icon-font">&#xe026;</i>添加产品</a></h2>
        </div>

        <h1><i class="icon-font">&#xe060;</i>成功案例</h1>
        <div>
            <h2><a href="__MODULE__/Case/lists"><i class="icon-font">&#xe050;</i>案列列表</a></h2>
            <h2><a href="__MODULE__/Case/add"><i class="icon-font">&#xe026;</i>新增案列</a></h2>
        </div>

        <h1><i class="icon-font">&#xe002;</i>申请试用</h1>
        <div>
            <h2><a href="__MODULE__/Apply/lists"><i class="icon-font">&#xe050;</i>申请列表</a></h2>
        </div>

        <h1><i class="icon-font">&#xe051;</i>荣誉管理</h1>
        <div>
            <h2><a href="__MODULE__/Honor/lists"><i class="icon-font">&#xe050;</i>荣誉列表</a></h2>
            <h2><a href="__MODULE__/Honor/add"><i class="icon-font">&#xe026;</i>新增荣誉</a></h2>
        </div>

        <h1><i class="icon-font">&#xe003;</i>职位管理</h1>
        <div>
            <h2><a href="__MODULE__/Job/lists"><i class="icon-font">&#xe050;</i>职位列表</a></h2>
            <h2><a href="__MODULE__/Job/add"><i class="icon-font">&#xe026;</i>新增职位</a></h2>
        </div>

        <h1><i class="icon-font">&#xe014;</i>咨询管理</h1>
        <div>
            <h2><a href="__MODULE__/Advice/lists"><i class="icon-font">&#xe050;</i>咨询列表</a></h2>
        </div>
    </aside>

    {__CONTENT__}


<script src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/admin/js/index.js"></script>
</body>
</html>