<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>北京上华软件</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/mycss.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/style.css">
    <script type="text/javascript" src="__PUBLIC__/admin/js/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/showdate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/quanxuan.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <!-- <h1 class="topbar-logo none"><a href="#" class="navbar-brand">后台管理</a></h1> -->
            <img src="__PUBLIC__/admin/images/logo.jpg" height="45px;" >
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="__MODULE__/Indexen/indexen" class="top-a">Back home</a></li>
                <li><a href="{:U('Home/Indexen/indexen')}" class="top-a">Front page</a></li>
                <li><a href="__MODULE__/Indexen/loginouten" class="top-a">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>


    <aside class="accordion" style="float:left">
        <h1><i class="icon-font">&#xe051;</i>Account</h1>
        <div class="opened-for-codepen">
            <h2><a href="__MODULE__/Usersen/listsen"><i class="icon-font">&#xe050;</i>user</a></h2>
            <h2><a href="__MODULE__/Usersen/adden"><i class="icon-font">&#xe026;</i>Add user</a></h2>
            <h2><a href="__MODULE__/Usersen/passen"><i class="icon-font">&#xe051;</i>password</a></h2>
        </div>

        <h1><i class="icon-font">&#xe001;</i>News</h1>
        <div>
            <h2><a href="__MODULE__/Newen/listsen"><i class="icon-font">&#xe050;</i>News list</a></h2>
            <h2><a href="__MODULE__/Newen/adden"><i class="icon-font">&#xe026;</i>Add news</a></h2>
        </div>

        <h1><i class="icon-font">&#xe005;</i>Industry</h1>
        <div>
            <h2><a href="__MODULE__/Industryen/listsen"><i class="icon-font">&#xe050;</i>Consulting list</a></h2>
            <h2><a href="__MODULE__/Industryen/adden"><i class="icon-font">&#xe026;</i>add</a></h2>
        </div>

        <h1><i class="icon-font">&#xe018;</i>product</h1>
        <div>
            <h2><a href="__MODULE__/Producten/listsen"><i class="icon-font">&#xe050;</i>Product list</a></h2>
            <h2><a href="__MODULE__/Producten/adden"><i class="icon-font">&#xe026;</i>Add product</a></h2>
        </div>

        <h1><i class="icon-font">&#xe060;</i>Successful case</h1>
        <div>
            <h2><a href="__MODULE__/Caseen/listsen"><i class="icon-font">&#xe050;</i>Case list</a></h2>
            <h2><a href="__MODULE__/Caseen/adden"><i class="icon-font">&#xe026;</i>New case</a></h2>
        </div>

        <h1><i class="icon-font">&#xe002;</i>Application</h1>
        <div>
            <h2><a href="__MODULE__/Applyen/listsen"><i class="icon-font">&#xe050;</i>Application</a></h2>
        </div>

        <h1><i class="icon-font">&#xe051;</i>Honor</h1>
        <div>
            <h2><a href="__MODULE__/Honoren/listsen"><i class="icon-font">&#xe050;</i>Honor list</a></h2>
            <h2><a href="__MODULE__/Honoren/adden"><i class="icon-font">&#xe026;</i>Add honor</a></h2>
        </div>

        <h1><i class="icon-font">&#xe003;</i>Position</h1>
        <div>
            <h2><a href="__MODULE__/Joben/listsen"><i class="icon-font">&#xe050;</i>Position list</a></h2>
            <h2><a href="__MODULE__/Joben/adden"><i class="icon-font">&#xe026;</i>New job</a></h2>
        </div>

        <h1><i class="icon-font">&#xe014;</i>Consulting</h1>
        <div>
            <h2><a href="__MODULE__/Adviceen/listsen"><i class="icon-font">&#xe050;</i>Consulting list</a></h2>
        </div>
    </aside>

    {__CONTENT__}


<script src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/admin/js/index.js"></script>
</body>
</html>