<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"><a href="__MODULE__/Job/lists">职位管理</a></span><span class="crumb-step">&gt;</span><span class="crumb-name">职位列表</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" action="__MODULE__/Job/delete">
                <div class="result-title">
                    <div class="result-list">
                         <a href="__MODULE__/Job/add"><i class="icon-font"></i>新增职位</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="checkall[]" type="checkbox" id="chkall" onclick='selectcheckbox(this.form)'></th>
                            <th width="10%">职位</th>
                            <th width="15%">发布时间</th>
                            <th width="15%">工作地点</th>
                            <th width="12%">招聘人数</th>
                            <th width="15%">工作内容</th>
                            <th width="15%">岗位要求</th>
                            <th width="15%">操作</th>
                        </tr>
                        <volist name="job" id="data">
                        <tr>
                            <td><input type="checkbox" name="jobId[]" id="checkbox" value="{$data.id}"><label for="checkbox"></label></td>
                            <td>{$data.title}</td>
                            <td>{$data.time}</td>
                            <td>{$data.place}</td>
                            <td>{$data.num}</td>
                            <td>{$data.content|msubstr=0,5,'utf-8',ture}</td>
                            <td>{$data.demand|msubstr=0,5,'utf-8',ture}</td>
                            <td>
                                <a class="link-update" href="__MODULE__/Job/edit/id/{$data.id}">修改</a>
                                <a class="link-del" href="__MODULE__/Job/delete/jobId/{$data.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div id="alldelete">

                    <button type="submit" id="batchDel" class="btn btn-danger " href="__MODULE__/Job/delete">批量删除</button> 
                     </div>
                    <div class="list-page"> {$page}</div>
                </div>
            </form>
        </div>
    </div>