<html>
<head>
  <title>content3</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/new-content.css" type="text/css" rel="stylesheet" />
  <link href="__PUBLIC__/home/css/touch.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>
  <div id="nav-header">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" width="100%" height="45px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Index/indexe">Home</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Honor/jianjiee">About&nbsp;SH</a>
              <ul>
                <li><a href="__MODULE__/Honor/jianjiee">Profile</a></li>
                <li><a href="__MODULE__/Honor/wenhuae">Culture</a></li>
                <li><a href="__MODULE__/Honor/rongyue">Honor</a></li>
                <li><a href="__MODULE__/Job/join1e">Join&nbsp;Us</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Product/producte">Products</a>
              <ul>
                <li><a href="__MODULE__/Product/intergradee">Integrated</a></li>
                <li><a href="__MODULE__/Product/operatione">Maintenance</a></li>
                <li><a href="__MODULE__/Product/lvsee">Green&nbsp;Building</a></li>
                <li><a href="__MODULE__/Product/zhushoue">DWGHelp</a></li>
                <li><a href="__MODULE__/Product/zonghee">PDMS&nbsp;Synthetic</a></li>
                <li><a href="__MODULE__/Product/fenglie">PDMS&nbsp;Wind</a></li>
                <li><a href="__MODULE__/Product/gongyie">Process</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/New/companye">News</a>
               <ul>
                <li><a href="__MODULE__/New/companye">Company</a></li>
                <li><a href="__MODULE__/Industry/industrye">Industry</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Success/gle">Success</a>
               <ul>
                <li><a href="__MODULE__/Success/gle">Pipe&nbsp;Sallery</a></li>
                <li><a href="__MODULE__/Success/VEe">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Apply/applye">Consulting</a>
               <ul>
                <li><a href="__MODULE__/Apply/applye">Apply</a></li>
                <li><a href="__MODULE__/Advice/suggeste">Advice</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Contact/contacte">Contact</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="__MODULE__/Industry/s3">中文&nbsp;</a>|<a href="__MODULE__/Industry/s3e">&nbsp;English</a></p>
    </div>
     
  </div>
  <div id="nav-banner">
    <img src="__PUBLIC__/home/images/z13.png">
  </div>
  <div id="bread">
    <div id="bread-left">News</div>
      <div id="bread-right"><a href="__MODULE__/Index/indexe">Home&nbsp;</a>>><a href="__MODULE__/New/companye">&nbsp;Company&nbsp;</a>>>&nbsp;Industry</div>
  </div>

  <div id="new-content-content">
    <h1> Opportunities are left to the people of innovation, only innovation can seize the opportunity</h1>
<p>     the general designer of our Comrade Deng Xiaoping is also proposed "innovation in reform and opening up", to seize the opportunity the trend of global economic development, the China economy has made great progress, and ultimately the Chinese economy has the world's second largest economy position. We want to be a creative worker in the work, only in this way can be good at seizing the opportunity, will be successful. <br/>
    at present, our country is now in a critical period of reform, the work is to be carried out, so we need to have the self innovation ability, the government needs innovation in concept, enterprises need innovation in technology, people also need to study hard, study hard, will focus on innovation in basic work realistically,, breakthrough work, innovation. Only in this way, our country can seize the opportunity to achieve global peace and win-win big promotion, enterprises can seize the opportunity of the financial crisis in an invincible position, to seize the opportunity to achieve personal talent strategy maximum value. <br/>
    in short, we should seriously keep in mind the general secretary of the speech, do a good at innovation, do a good grasp of the opportunity to do a useful person to society.
</p>
    <div id="content-foot">
      <p><a href="__MODULE__/Industry/s2e">Last one</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Next article</a></p>
    </div>
  </div>
</div>
    <div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5>About&nbsp;SH</h5>
      <hr class="footer-hr">
      <p>&nbsp;&nbsp;Beijing Shanghua Software Co., Ltd. is a new high-tech information company, a service in the field of development survey and design information.</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5>Industry link</h5></li>
          <hr class="footer-hr">
          <li><a href="http://www.chszxh.org/">China Municipal Engineering Association</a></li>
          <li><a href="http://www.chinaeda.org/">Survey and design of China</a></li>
          <li><a href="http://www.supec.org/">Shanghai Planning Bureau</a></li>
          <li><a href="http://www.chinabim.com/">China BIM portal</a></li>
          
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5>Contact</h5></li>
          <hr class="footer-hr">
          <li><img src="__PUBLIC__/home/images/footer1.png"height="12px"width="12px">&nbsp;Beijing City, Fengtai District Jianhua Street</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"height="12px"width="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"width="12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"width="12px">&nbsp;www.shanghua.com</li>
          
        </ul>
    </div>
    <div class="footer-top4" >
        <ul>
          <li><h5>Product</h5></li>
          <hr class="footer-hr">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>
     本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p></div>
    </div>
    </div>
    <div id="top"></div>
  </body>
</html>
