<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <link href="__PUBLIC__/home/css/nav.css" type="text/css" rel="stylesheet" />
	<meta name="keywords" content="">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"	type="text/css" media="all">
	<link rel="stylesheet" href="__PUBLIC__/home/css/style.css" type="text/css" media="all">
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.min.js"></script>
	<link href="__PUBLIC__/home/css/index-touch.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/touch.js"></script>
</head>
<body>
  <div id="nav-header"style=" position:relative;z-index:3">
    <div id="img">
       <img src="__PUBLIC__/home/images/logo.jpg" height="50px">
    </div>
    <div id="nav-center">
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Index/index">首页</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Honor/jianjie">关于上华</a>
              <ul>
                <li><a href="__MODULE__/Honor/jianjie">公司简介</a></li>
                <li><a href="__MODULE__/Honor/wenhua">公司文化</a></li>
                <li><a href="__MODULE__/Honor/rongyu">公司荣誉</a></li>
                <li><a href="__MODULE__/Job/join1">加入我们</a></li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Product/product">产品服务</a>
              <ul>
                <li><a href="__MODULE__/Product/intergrade">设计软件</a></li>
                <li><a href="__MODULE__/Product/operation">运维系统</a></li>
                <li><a href="__MODULE__/Product/lvse">绿色建筑</a></li>
                <li><a href="__MODULE__/Product/zhushou">DWGHelp</a></li>
                <li><a href="__MODULE__/Product/zonghe">PDMS综合</a></li>
                <li><a href="__MODULE__/Product/fengli">PDMS风力</a></li>
                <li><a href="__MODULE__/Product/gongyi">工艺设计</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="{:U('New/company?p=1')}">新闻中心</a>
               <ul>
                <li><a href="{:U('New/company?p=1')}">公司新闻</a></li>
                <li><a href="{:U('Industry/industry?p=1')}">行业资讯</a></li> 
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Success/gl">成功案例</a>
               <ul>
                <li><a href="__MODULE__/Success/gl">管廊</a></li>
                <li><a href="__MODULE__/Success/VE">VE</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Apply/apply">在线咨询</a>
               <ul>
                <li><a href="__MODULE__/Apply/apply">申请试用</a></li>
                <li><a href="__MODULE__/Advice/suggest">咨询或建议</a></li>
               </ul>
            </li>
        </ul>
    </div>
    <div class="nav">
        <ul>
            <li><a href="__MODULE__/Contact/contact">联系我们</a></li>
        </ul>
    </div>
    </div>
    <div id="nav-right">
      <p><a href="__MODULE__/Index/index">中文&nbsp;</a>|<a href="__MODULE__/Index/indexe">&nbsp;English</a></p>
    </div>
    
   </div>
	<div class="header-aits" id="home">
		<div class="slider-w3layouts">
			<ul class="rslides-agileits" id="slider1">
				<li>
					<img src="__PUBLIC__/home/images/slide-14.jpg" alt="W3layouts Agileits">
				</li>
				<li>
					<img src="__PUBLIC__/home/images/slide-15.jpg" alt="W3layouts Agileits">
				</li>
				<li>
					<img src="__PUBLIC__/home/images/slide-13.jpg" alt="W3layouts Agileits">
				</li>
				<li>
					<img src="__PUBLIC__/home/images/slide-11.jpg" alt="W3layouts Agileits">
				</li>
				<li>
					<img src="__PUBLIC__/home/images/slide-12.jpg" alt="W3layouts Agileits">
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="about-w3laits" id="about">
		<div class="container">
			<h1>关于我们</h1>
			<p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京上华软件有限公司是一家服务于勘察设计信息化发展领域的新型高科技信息化公司。其团队核心工程师拥有本行业十余年的资历，曾经开发过在市面上具备垄断水平的多款软件产品。如今，他们致力于利用最新型的技术模式引领行业信息化作为其发展目标。作为上华控股成员企业，把为中小企业融资融智，推动实体经济发展作为自身使命，并致力于成为：</p>
			<p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    ● 一流的中小企业融资服务提供商、类金融行业的标杆和领导者；</p><p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    ● 与股东、客户、合作者和员工长期合作共赢的价值伙伴；</p><p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    ● 一家值得信赖、受人尊敬的、在国内具有影响力的类金融控股公司。</p><p>
			<p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，公司拥有自主研发产品5种，涉及市政、民用建筑、-电力、铁路、轨道交通、核工业、石油、化工、冶金、煤炭、教育等诸多领域。其中，公司采用BIM技术自主研发的综合管廊设计系统为目前国内唯一的既可以快速搭建三维模型，又可以出二维施工图的优质软件。得到业界广泛好评。公司采用GIS技术与BIM技术相结合开发的数字化综合管廊运维系统，借鉴了国外先进的管廊运维管理经验，可以有效地实现综合管廊后期数字标准化运维管理。</p>
          <p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时，公司拥有英国IES(VE)绿色建筑系列产品的大中华区一级代理权。其产品在绿色建筑领域具备世界领先的技术，可以实现（包括美国、德国、英国、加拿大、印度、日本、澳大利亚、新加坡、阿拉伯地区、卡塔尔等）诸多绿色建筑国际认证。该产品在许多高校、大型设计院均已经得到应用.</p>
          <p class="about-p-1-aits">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京上华软件有限公司是一个快速发展的新型信息化软件公司。对外，公司秉承“用先进的技术给客户完美的体验，用一流的服务给客户温暖的感受”为理念。对内，公司秉承“开放、公平、分享”为企业文化。</p><br>

		</div>
	</div>
	<div class="details-w3lsagile" id="details">
		<div class="container">
			<h3>服务中心</h3>
			<div class="details-grids-w3lsagile">
				<div class="col-md-4 col-sm-4 details-grid-w3lsagile details-grid-1-w3lsagile">
					<div class=" details-grid1-w3lsagile">
						<div class="details-grid-image-w3lsagile">
							<img src="__PUBLIC__/home/images/details-1.jpg" alt="W3layouts Agileits">
						</div>
						<div class="details-grid-info-w3lsagile"><h4>公司文化</h4>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承“用先进的技术给客户完美的体验，用一流的服务给客户温暖的感受”为理念,将技术应用于各个领域，主要包括各大高校，企业等等，其中知名的有北京大学.....</p>
						</div>
						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">更多<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 details-grid-w3lsagile details-grid-2-w3lsagile">
					<div class="details-grid2-w3lsagile">
						<div class="details-grid-image-w3lsagile">
							<img src="__PUBLIC__/home/images/details-32.jpg" alt="W3layouts Agileits">
						</div>
						<div class="details-grid-info-w3lsagile">
							<h4>产品及服务</h4>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司拥有自主研发产品5种，涉及市政、民用建筑、-电力、铁路、轨道交通、核工业、石油，主要软件包括基于三维BIM技术的地下管廊设计软件，管廊运维Sh-Uto等等.....</p>
						</div>
						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">更多<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 details-grid-w3lsagile details-grid-3-w3lsagile">
					<div class="details-grid3-w3lsagile">
						<div class="details-grid-image-w3lsagile">
							<img src="__PUBLIC__/home/images/details-3.jpg" alt="W3layouts Agileits">
						</div>
						<div class="details-grid-info-w3lsagile">
							<h4>申请使用</h4>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您对我们的软件感兴趣，欢迎申请我们软件的试用版，请填好相关试用信息，方便我们为您选择最佳软件，我们的软件主要涉及智慧管廊设计，管廊运维，绿色建筑.....</p>
						</div>
						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal3">更多<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="tooltip-content">
				<div class="modal fade details-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg" >
						<div class="modal-content" style="margin-top:120px;">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">LOREM IPSUM</h4>
							</div>
							<div class="modal-body">
								<img src="__PUBLIC__/home/images/detail-1.jpg" alt="W3layouts Agileits">
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade details-modal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">LOREM IPSUM</h4>
							</div>
							<div class="modal-body">
								<img src="__PUBLIC__/home/images/detail-2.jpg" alt="W3layouts Agileits">
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade details-modal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">LOREM IPSUM</h4>
							</div>
							<div class="modal-body">
								<img src="__PUBLIC__/home/images/detail-3.jpg" alt="W3layouts Agileits">
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</div>

	<div class="display-w3lsagile" id="display" style="margin-top:120px;">
		<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">
			<div class="activity_box agileits w3layouts">
				<h3>新闻中心</h3>
				<div class="scrollbar agileits w3layouts" id="style-2">
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts"><img src='__PUBLIC__/home/images/new-1.jpg' alt="W3layouts Agileits"></div>
						<div class="activity-desc agileits w3layouts">
							
							<p><a href="__MODULE__/New/c1" style="color: #777;">全国优秀工程勘察设计计算机软件奖申报
							</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts"><img src='__PUBLIC__/home/images/new-2.jpg' alt="W3layouts Agileits"></div>
						<div class="activity-desc agileits w3layouts">
							<p><a href="__MODULE__/New/c2" style="color: #777;">我公司荣获山东省十大软件企业创新奖
							</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts"><img src='__PUBLIC__/home/images/new-3.jpg' alt="W3layouts Agileits"></div>
						<div class="activity-desc agileits w3layouts">
							<p><a href="__MODULE__/New/c3" style="color: #777;">给设计院里新人的建议
							</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts"><img src='__PUBLIC__/home/images/new-4.jpg' alt="W3layouts Agileits"></div>
						<div class="activity-desc agileits w3layouts">
							<p><a href="__MODULE__/Industry/s1" style="color: #777;">贯彻“发动机”文化 做“奔日子的人”
							</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="activity-row agileits w3layouts">
						<div class="activity-img agileits w3layouts"><img src='__PUBLIC__/home/images/new-5.jpg' alt="W3layouts Agileits"></div>
						<div class="activity-desc agileits w3layouts">
							<p><a href="__MODULE__/Industry/s2" style="color: #777;">助力合伙人把握转型时代新机遇
							</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-sm-7 display-grid-w3lsagile  display-grid-2-w3lsagile">
			<img src="__PUBLIC__/home/images/true.jpg" alt="W3layouts Agileits">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portfolio" id="portfolio">
		<h3>产品&案例</h3>
		<div class="portfolio_grid_w3lss">
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/zonghe">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-26.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>综合管廊设计软件</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/operation">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-15.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>综合管廊运维系统</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/lvse">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-17.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>绿色建筑模拟分析</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="portfolio_grid_w3lss">
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/zhushou">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-13.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>设计助手DWGHelp</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/fengli">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-21.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>PDMS风管水力计算</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/zonghe">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-12.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>PDMS综合材料自动排版系统</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="portfolio_grid_w3lss">
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/gongyi">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-23.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>产品</h4>
								<p>工艺设计软件</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Success/gl">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-11.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>案例</h4>
								<p>管廊</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 w3agile_gallery_grid">
				<div class="w3agile_gallery_image">
					<a class="sb" href="__MODULE__/Product/VE">
						<figure>
							<img src="__PUBLIC__/home/images/portfolio-25.jpg" alt="W3layouts Agileits" class="img-responsive">
							<figcaption>
								<h4>案例</h4>
								<p>VE</p>
							</figcaption>
						</figure>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/home/js/smoothbox.jquery2.js"></script>
	</div><script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
			<script src="__PUBLIC__/home/js/responsiveslides.min.js">
			</script>
			<script>
				$(function () {
					$("#slider1, #slider2").responsiveSlides({
						auto: true,
						nav: true,
						speed: 1500,
						namespace: "callbacks",
						pager: true,
					});
				});
			</script>
			<script src="__PUBLIC__/home/js/simplyCountdown.js"></script>
			<script>
				var d = new Date(new Date().getTime() + 48 * 120 * 120 * 2000);
				simplyCountdown('.simply-countdown-one', {
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate()
				});
				simplyCountdown('.simply-countdown-inline', {
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate(),
					inline: true
				});
				$('#simply-countdown-losange').simplyCountdown({
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate(),
					enableUtc: false
				});
			</script>
<div id="footer">
  <div id="footer1">
    <div class="footer-top">
      <h5 style="text-align:left;">关于上华</h5>
      <hr class="footer-hr"style="margin:5px 0px 0px 0px;padding:0px;">
      <p>&nbsp;&nbsp;北京上华软件有限公司是一家服务于勘察设计信息化发展领域的新型高科技信息化公司。其团队核心工程师拥有本行业十余年的资历。</p>
    </div>
    <div id="footer-top2">
        <ul>
          <li style="list-style-type:none"><h5 style="text-align:left;">行业链接</h5></li>
          <hr class="footer-hr"  style="margin:5px 0px 0px 0px;padding:0px;">
          <li><a href="http://www.chszxh.org/">中国市政工程行业协会</a></li>
          <li><a href="http://www.chinaeda.org/">中国勘察设计</a></li>
          <li><a href="http://www.supec.org/">上海规划局</a></li>
          <li><a href="http://www.chinabim.com/">中国BIM门户</a></li>
          <li><a href="http://www.planning.org.cn/">中国城市规划学会</a></li>
        </ul>
    </div>
    <div class="footer-top3">
        <ul>
          <li><h5 style="text-align:left;">联系我们</h5></li>
          <hr class="footer-hr"style="margin:5px 0px 0px 0px;padding:0px;">
         <li><img src="__PUBLIC__/home/images/footer1.png" style="width:12px"   height="12px" >&nbsp;北京市丰台区建华街道</li>
          <li><img src="__PUBLIC__/home/images/footer2.png"style="width:12px"height="12px">&nbsp;15289016539</li>
          <li><img src="__PUBLIC__/home/images/footer3.png"height="12px"style="width:12px">&nbsp;802742100</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"style="width:12px">&nbsp;www.shanghua.com</li>
          <li><img src="__PUBLIC__/home/images/footer4.png"height="12px"style="width:12px">&nbsp;shanghua@163.com</li>
        </ul>
    </div>
    <div class="footer-top4">
        <ul>
          <li><h5 style="text-align:left;">产品展示</h5></li>
          <hr class="footer-hr"style="margin:5px 0px 0px 0px;padding:0px;">
          <li class="footer-img"><img src="__PUBLIC__/home/images/1.jpg" width="50%" height="50%"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/3.jpg" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/4.jpg" width="50px" height="50px"></li>
        </ul>
        <ul class="footer-imgss"> 
          <li class="footer-img"><img src="__PUBLIC__/home/images/5.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/6.png" width="50px" height="50px"></li>
          <li class="footer-img"><img src="__PUBLIC__/home/images/7.png" width="50px" height="50px"></li>
        </ul>
    </div>
    </div>
    <div id="footer-bottom">
      <div id="footer-bottom1"><p><br/>
     本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p></div>
    </div>
    </div>
    <div id="top"></div>
</body>
</html>