<layout name="layout_admin"/>
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">产品管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__MODULE__/Product/add"><i class="icon-font"></i>新增产品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                        <input type="text" id="searchall" /><input type="button" value="查询" id="searchall2"/>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="6%"><input class="allChoose" name="" type="checkbox"></th>
                            <th width="20%">产品配图</th>
                            <th width="20%">产品标题</th>
                            <th width="40%">产品内容</th>
                            <th width="12%">操作</th>
                        </tr>
                        <volist name="product" id="data">
                        <tr>
                            <td><input type="checkbox" name="productId[]" id="checkbox" value="{$data.product_id}"><label for="checkbox"></label></td>
                            <td><img src="__PUBLIC__/{$data.thumb}" width="60px" height="60px"></td>
                            <td>{$data.title}</td>
                            <td>{$data.content}</td>
                            <td>
                                <a class="link-update" href="__MODULE__/Product/edit/id/{$data.id}">修改</a>
                                <a class="link-del" href="__MODULE__/Product/delete/productId/{$data.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>